<div class="container-header">
  <div class="button-row">
    <button (click)="gerarRelatorio()" mat-raised-button>Gerar relatório</button>
  </div>
  <div>
    <mat-icon class="icon-color" matSuffix (click)="openModalNicknames()">person</mat-icon>
    <mat-icon class="icon-color" matSuffix (click)="openModalProducts()">shopping_basket</mat-icon>
    <mat-icon class="icon-color" matSuffix (click)="openModalSellers()">assignment_ind</mat-icon>
    <mat-icon class="icon-color" matSuffix (click)="openModalLojistas()">store</mat-icon>
  </div>
</div>
