<form [formGroup]="form">
  <div class="div-main">
    <div class="sub-div-main">
      <div class="div-body">
        <div>
          <span class="span-bold">Selecione os produtos:</span>
        </div>
        <div>
          <form>
            <mat-form-field appearance="fill">
              <mat-label>Encontre pelo nome</mat-label>
              <input type="text" (blur)="filterList()" matInput formControlName="filter">
            </mat-form-field>
          </form>
        </div>
      </div>
      <mat-checkbox [color]="color"
                    (change)="setAll()">
        Todos
      </mat-checkbox>
        <div *ngIf="filteredList.length === 0; else filterTemplate">
          <div *ngFor="let product of products">
            <mat-checkbox (change)="buildRequest(product)"
                          [checked]="product.checked"
                          [color]="color">
              {{product.name | titlecase}}
            </mat-checkbox>
          </div>
        </div>
    </div>
    <div class="div-products">
      <div *ngIf="listRequest.length >= 1" class="sub-div-products">
        <span class="span-bold">Produtos selecionados:</span>
          <div class="margin-20" *ngFor="let prod of listRequest; let i = index">
           <span class="span-bold">{{ i + 1 }} -</span>  {{ prod.name | titlecase }}
            <hr>
          </div>
      </div>
      <div class="div-flex-center">
        <div *ngIf="listRequest.length >= 1" class="div-button-relatorio yellow text-blue left" (click)="gerarRelatorio()">
          <span class="text-button">Gerar relatório</span>
        </div>
      </div>
      <div *ngIf="loading" class="div-loading-message">
        <span class="span-bold">Relatório sendo gerado...</span>
      </div>

      <div class="div-flex-center">
        <div *ngIf="success" class="div-success">
          <div>
            <span class="span-white">Relatório enviado com sucesso!</span>
          </div>
          <div class="div-pointer" (click)="closeSuccess()">
            <span class="span-white span-font">X</span>
          </div>
        </div>
      </div>

      <div class="div-flex-center">
        <div *ngIf="error" class="div-error width">
          <div>
            <span class="span-white">Erro! Tente novamente em instantes.</span>
          </div>
          <div class="div-pointer" (click)="closeError()">
            <span class="span-white span-font">X</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #filterTemplate>
    <div *ngFor="let product of filteredList">
      <mat-checkbox (change)="buildRequest(product)"
                    [checked]="product.checked"
                    [color]="color">
        {{product.name | titlecase}}
      </mat-checkbox>
    </div>
</ng-template>
