<form [formGroup]="form">
  <div class="container">
    <div class="div-form">
      <span class="span-title-style">Cadastro de lojistas</span>

      <span class="span-style">Lojista:</span>
      <input class="input-style" formControlName="lojista" (click)="setAlreadyState()" placeholder="Nome do lojista">

      <div class="div-error-form" *ngIf="alreadyExists">
        <span class="span-red">Lojista já cadastrado!</span>
      </div>

      <br>

      <div class="div-flex-center">
        <div *ngIf="success" class="div-success">
          <div>
            <span class="span-white">Lojista cadastrado com sucesso!</span>
          </div>
          <div class="div-pointer" (click)="closeSuccess()">
            <span class="span-white span-font">X</span>
          </div>
        </div>
      </div>

      <div class="div-flex-center">
        <div *ngIf="error" class="div-error width">
          <div>
            <span class="span-white">Erro ao cadastrar um lojista.</span>
          </div>
          <div class="div-pointer" (click)="closeError()">
            <span class="span-white span-font">X</span>
          </div>
        </div>
      </div>

      <br>

      <div class="div-center">
        <div (click)="cadastrarLojista()" [className]="form.valid ? 'div-button' : 'div-button opacity'">Cadastrar</div>
      </div>

    </div>

    <div class="div-right">
      <div class="div-between-secondary">
        <div>
          <span class="span-title-style">Todos os lojistas cadastrados</span>
        </div>

        <div>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Encontre pelo lojista</mat-label>
              <input type="text" (blur)="filterList()" matInput formControlName="filter">
            </mat-form-field>
          </form>
        </div>

      </div>

      <div *ngIf="filteredList.length === 0; else filterTemplate">
        <div class="div-all" *ngFor="let lojista of lojistas">

          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ lojista.lojista | titlecase }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="div-between">
                <div class="column">
                  <form [formGroup]="formEdit">
                    <span class="span-edit">Atualizar informações: </span>
                    <div>
                      <input formControlName="editLojista" class="input-style margin-last" placeholder="Editar lojista">
                    </div>
                  </form>
                </div>

                <div class="pointer">
                  <div>
                    <span class="span-edit">Deletar informações: </span>
                  </div>
                  <div>
                    <mat-icon (click)="openModalToDelete(lojista.lojista)" matSuffix>delete</mat-icon>
                  </div>
                </div>
              </div>

              <div class="div-left">
                <div (click)="editarLojista(lojista.lojista)" [className]="formEdit.valid ? 'div-button' : 'div-button opacity'">Editar</div>
              </div>

              <div class="div-flex-center">
                <div *ngIf="successUpdate" class="div-success">
                  <div>
                    <span class="span-white">Lojista atualizado com sucesso!</span>
                  </div>
                  <div class="div-pointer" (click)="closeSuccessUpdate()">
                    <span class="span-white span-font">X</span>
                  </div>
                </div>
              </div>

              <div class="div-flex-center">
                <div *ngIf="errorUpdate" class="div-error width">
                  <div>
                    <span class="span-white">Erro ao atualizar um lojista.</span>
                  </div>
                  <div class="div-pointer" (click)="closeErrorUpdate()">
                    <span class="span-white span-font">X</span>
                  </div>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #filterTemplate>
  <div class="div-all" *ngFor="let lojista of filteredList">

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ lojista.lojista | titlecase }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="div-between">
          <div class="column">
            <form [formGroup]="formEdit">
              <span class="span-edit">Atualizar informações: </span>
              <div>
                <input formControlName="editLojista" class="input-style margin-last" placeholder="Editar lojista">
              </div>
            </form>

          </div>

          <div class="pointer">
            <div>
              <span class="span-edit">Deletar informações: </span>
            </div>
            <div>
              <mat-icon (click)="openModalToDelete(lojista.lojista)" matSuffix>delete</mat-icon>
            </div>
          </div>
        </div>

        <div class="div-left">
          <div (click)="editarLojista(lojista.lojista)" [className]="formEdit.valid ? 'div-button' : 'div-button opacity'">Editar</div>
        </div>

        <div class="div-flex-center">
          <div *ngIf="successUpdate" class="div-success">
            <div>
              <span class="span-white">Lojista atualizado com sucesso!</span>
            </div>
            <div class="div-pointer" (click)="closeSuccessUpdate()">
              <span class="span-white span-font">X</span>
            </div>
          </div>
        </div>

        <div class="div-flex-center">
          <div *ngIf="errorUpdate" class="div-error width">
            <div>
              <span class="span-white">Erro ao atualizar um lojista.</span>
            </div>
            <div class="div-pointer" (click)="closeErrorUpdate()">
              <span class="span-white span-font">X</span>
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>
