.container-dialog {
  padding: 25px 25px 25px 25px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.title {
  display: flex;
  justify-content: center;
}

.title-question {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.div-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.text-bold {
  font-weight: bold;
}

:host ::ng-deep .mat-dialog-content {
    width: 300px;
    height: 100px;
}

.div-success {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  background: green;
  width: 195px;
  margin-top: 10px;
  height: 25px;
  border-radius: 2px
}

.span-white {
  color: white;
  font-weight: 300;
  font-size: 12px;
}

.span-black {
  color: black;
  font-size: 12px;
}

.div-pointer {
  cursor: pointer;
}

.error-content {
  margin-left: 5px;
}

.content-end {
  display: flex;
  justify-content: flex-end;
}

.span-font {
  font-size: 15px;
}

.width {
  width: 240px !important;
}

.div-error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  background: red;
  margin-top: 30px;
  height: 45px;
  border-radius: 2px
}
