.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  max-height: 80vh;
  overflow-y: scroll;
}

.div-right {
  border-left: 1px solid #E5E5E5;
  width: 70%;
  padding-left: 20px;
}

.input-style {
  width: 95%;
  height: 35px;
  padding: 0 10px 0 10px;
}

.margin-last {
  margin-bottom: 30px;
}

.span-title-style {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 20px;
}

.span-style {
  padding-bottom: 5px;
}

.div-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  padding-right: 20px;
}

.div-button {
  background-color: #25365c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  color: white;
  width: 100px;
  height: 30px;
  align-items: center;
}

.div-center{
  display: flex;
  justify-content: center;
}

.div-between {
  display: flex;
}

.div-button-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.text-button {
  color: #25365c;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
}

.div-button-relatorio {
  margin-top: 30px;
  padding-top: 10px;
  background: #FFD700;
  width: 140px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.span-title-style {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.opacity {
  opacity: 0.5;
  cursor: auto !important;
}

.pointer {
  margin-left: 40px;
  cursor: pointer;
  display: flex;
  flex: auto;
  justify-content: space-between;
}

.span-edit {
  font-weight: bold;
  margin-bottom: 5px;
}

.div-left{
  display: flex;
  justify-content: flex-start;
}

.div-all {
  padding-bottom: 5px;
}

.div-shadow {
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border: 1px solid #cacaca;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px rgba(50, 50, 50, 0.77);
  padding-left: 10px;
  padding-right: 10px;
}

.div-between-secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.span-font {
  font-size: 15px;
}

.div-pointer {
  cursor: pointer;
}

.span-white {
  color: white;
  font-weight: 300;
  font-size: 12px;
}

.div-success {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  background: green;
  width: 195px;
  margin-top: 10px;
  height: 25px;
  border-radius: 2px
}

.width {
  width: 240px !important;
}

.div-error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  background: red;
  margin-top: 30px;
  height: 25px;
  border-radius: 2px
}

.span-red {
  color: red;
}

.div-error-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
