<form [formGroup]="form">
  <div class="container">
    <div class="div-form">
      <span class="span-title-style">Cadastro de nicknames</span>

      <span class="span-style">Nickname:</span>
      <input class="input-style" formControlName="nickname" placeholder="Nickname do cliente">

      <br>

      <span class="span-style">Vendedor:</span>
      <input class="input-style margin-last" formControlName="vendedor" placeholder="Vendedor Tropical">

      <div class="div-center">
        <div (click)="cadastrarNickname()" [className]="form.valid ? 'div-button' : 'div-button opacity'">Cadastrar</div>
      </div>

    </div>

    <div class="div-right">
      <div class="div-between-secondary">
        <div>
          <span class="span-title-style">Todos os nicknames cadastrados</span>
        </div>

        <div>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Encontre pelo nickname</mat-label>
              <input type="text" (blur)="filterList()" matInput formControlName="filter">
            </mat-form-field>
          </form>
        </div>

      </div>

       <div *ngIf="filteredList.length === 0; else filterTemplate">
          <div class="div-all" *ngFor="let nick of nicknames">

            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ nick.nickname | titlecase }}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ nick.customerBy | titlecase }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="div-between">
                  <div class="column">
                    <form [formGroup]="formEdit">
                      <span class="span-edit">Atualizar informações: </span>
                      <div>
                        <input class="input-style margin-last" formControlName="editNickname" placeholder="Editar nickname">
                      </div>
                      <div>
                        <input class="input-style margin-last" formControlName="editVendedor" placeholder="Editar vendedor Tropical">
                      </div>
                    </form>
                  </div>

                  <div class="pointer">
                    <div>
                      <span class="span-edit">Deletar informações: </span>
                    </div>
                    <div>
                      <mat-icon (click)="deleteNickname(nick.nickname)" matSuffix>delete</mat-icon>
                    </div>
                  </div>
                </div>

                <div class="div-left">
                  <div (click)="editarNickname(nick.nickname)" [className]="validateEditForm()">Editar</div>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
    </div>
  </div>
</form>

<ng-template #filterTemplate>
  <div class="div-all" *ngFor="let nick of filteredList">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ nick.nickname | titlecase }}
          </mat-panel-title>
          <mat-panel-description>
            {{ nick.customerBy | titlecase }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="div-between">
          <div class="column">
            <form [formGroup]="formEdit">
              <span class="span-edit">Atualizar informações: </span>
              <div>
                <input class="input-style margin-last" formControlName="editNickname" placeholder="Editar nickname">
              </div>
              <div>
                <input class="input-style margin-last" formControlName="editVendedor" placeholder="Editar vendedor Tropical">
              </div>
            </form>
          </div>

          <div class="pointer">
            <div>
              <span class="span-edit">Deletar informações: </span>
            </div>
            <div>
              <mat-icon (click)="deleteNickname(nick.nickname)" matSuffix>delete</mat-icon>
            </div>
          </div>
        </div>

        <div class="div-left">
          <div (click)="editarNickname(nick.nickname)" [className]="validateEditForm()">Editar</div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>
