<form [formGroup]="form">
  <div class="container">
    <div class="div-form">
      <span class="span-title-style">Cadastro de nicknames</span>

      <span class="span-style">Nickname:</span>
      <input (click)="findAllLojistas()" class="input-style" (click)="setAlreadyState()" formControlName="nickname" placeholder="Nickname do cliente">

      <div class="div-error-form" *ngIf="alreadyExists">
        <span class="span-red">Nickname já cadastrado!</span>
      </div>

      <br>

      <span class="span-style">Lojista:</span>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Lojistas</mat-label>
        <input type="text"
               matInput
               formControlName="lojista"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredLojistas | async" [value]="option.lojista">
            {{option.lojista | uppercase}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <span class="span-style">Vendedor:</span>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Vendedores</mat-label>
        <input type="text"
               matInput
               formControlName="vendedor"
               [matAutocomplete]="autoVendedor">
        <mat-autocomplete #autoVendedor="matAutocomplete">
          <mat-option *ngFor="let option of filteredVendedores | async" [value]="option.name">
            {{option.name | titlecase}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="div-center">
        <div (click)="cadastrarNickname()" [className]="form.valid ? 'div-button' : 'div-button opacity'">Cadastrar</div>
      </div>

    </div>

    <div class="div-right">
      <div class="div-between-secondary">
        <div class="div-button-title">
          <div>
            <span class="span-title-style">Todos os nicknames cadastrados</span>
          </div>
          <div class="div-button-relatorio" (click)="gerarRelatorio()">
            <span class="text-button">Gerar relatório</span>
          </div>

          <div *ngIf="loading" style="margin-top: 10px">
            <span>Relatório sendo gerado...</span>
          </div>

          <div *ngIf="success" class="div-success">
            <div>
              <span class="span-white">Relatório enviado com sucesso!</span>
            </div>
            <div class="div-pointer" (click)="closeSuccess()">
              <span class="span-white span-font">X</span>
            </div>
          </div>

          <div *ngIf="error" class="div-error width">
            <div>
              <span class="span-white">Erro! Tente novamente em instantes.</span>
            </div>
            <div class="div-pointer" (click)="closeError()">
              <span class="span-white span-font">X</span>
            </div>
          </div>
        </div>

        <div class="container-form">
          <form>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Encontre pelo nickname</mat-label>
              <input type="text" (blur)="filterNickList()" matInput formControlName="filterNick">

            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Encontre pelo lojista</mat-label>
              <input type="text" (blur)="filterLojistaList()" matInput formControlName="filterLojista">

            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Encontre pelo vendedor</mat-label>
              <input type="text" (blur)="filterVendedorList()" matInput formControlName="filterVendedor">

            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="container-legend">
        <div class="sub-container-legend">
          <div class="container-ex">
            <span>Ex: </span>
          </div>
          <div class="container-padding-right">
            <span> Nickname </span>
          </div>
          <div class="container-padding-right">
            <span>|</span>
          </div>
          <div class="padding-lojista">
            <span> Lojista </span>
          </div>
        </div>
        <div>
          <span>Vendedor</span>
        </div>
      </div>
       <div *ngIf="filteredNickList.length === 0 && filteredLojistaList.length === 0 && filteredVendedorList.length === 0">
          <div class="div-all" *ngFor="let nick of nicknames">

            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ nick.nickname | uppercase }} | {{ nick?.lojista | titlecase }}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ nick.customerBy | titlecase }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="div-between">
                  <div class="column">
                    <form [formGroup]="formEdit">
                      <span class="span-edit">Atualizar informações: </span>
                      <div>
                        <input (click)="findAllLojistasEdit()" class="input-style margin-last" formControlName="editNickname" placeholder="Editar nickname">
                      </div>
                      <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Lojistas</mat-label>
                          <input type="text"
                                 matInput
                                 formControlName="editLojista"
                                 [matAutocomplete]="autoEditLojista">
                          <mat-autocomplete #autoEditLojista="matAutocomplete">
                            <mat-option *ngFor="let option of filteredEditLojistas | async" [value]="option.lojista">
                              {{option.lojista | uppercase}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>

                      <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Vendedores</mat-label>
                          <input type="text"
                                 matInput
                                 formControlName="editVendedor"
                                 [matAutocomplete]="autoEditVendedor">
                          <mat-autocomplete #autoEditVendedor="matAutocomplete">
                            <mat-option *ngFor="let option of filteredEditVendedores | async" [value]="option.name">
                              {{option.name | titlecase}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                    </form>
                  </div>

                  <div class="pointer">
                    <div>
                      <span class="span-edit">Deletar informações: </span>
                    </div>
                    <div>
                      <mat-icon (click)="deleteNickname(nick.nickname)" matSuffix>delete</mat-icon>
                    </div>
                  </div>
                </div>

                <div class="div-left">
                  <div (click)="editarNickname(nick.nickname)" [className]="validateEditForm()">Editar</div>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
      </div>
      <div *ngIf="filteredNickList.length !== 0">
        <div class="div-all" *ngFor="let nick of filteredNickList">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ nick.nickname | uppercase }} | {{ nick?.lojista | titlecase }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ nick.customerBy | titlecase }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="div-between">
                <div class="column">
                  <form [formGroup]="formEdit">
                    <span class="span-edit">Atualizar informações: </span>
                    <div>
                      <input (click)="findAllLojistasEdit()" class="input-style margin-last" formControlName="editNickname" placeholder="Editar nickname">
                    </div>
                    <div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Lojistas</mat-label>
                        <input type="text"
                               matInput
                               formControlName="editLojista"
                               [matAutocomplete]="autoEditLojista">
                        <mat-autocomplete #autoEditLojista="matAutocomplete">
                          <mat-option *ngFor="let option of filteredEditLojistas | async" [value]="option.lojista">
                            {{option.lojista | uppercase}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>

                    <div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Vendedores</mat-label>
                        <input type="text"
                               matInput
                               formControlName="editVendedor"
                               [matAutocomplete]="autoEditVendedor">
                        <mat-autocomplete #autoEditVendedor="matAutocomplete">
                          <mat-option *ngFor="let option of filteredEditVendedores | async" [value]="option.name">
                            {{option.name | titlecase}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </form>
                </div>

                <div class="pointer">
                  <div>
                    <span class="span-edit">Deletar informações: </span>
                  </div>
                  <div>
                    <mat-icon (click)="deleteNickname(nick.nickname)" matSuffix>delete</mat-icon>
                  </div>
                </div>
              </div>

              <div class="div-left">
                <div (click)="editarNickname(nick.nickname)" [className]="validateEditForm()">Editar</div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div *ngIf="filteredLojistaList.length !== 0">
        <div class="div-all" *ngFor="let nick of filteredLojistaList">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ nick.nickname | uppercase }} | {{ nick?.lojista | titlecase }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ nick.customerBy | titlecase }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="div-between">
                <div class="column">
                  <form [formGroup]="formEdit">
                    <span class="span-edit">Atualizar informações: </span>
                    <div>
                      <input (click)="findAllLojistasEdit()" class="input-style margin-last" formControlName="editNickname" placeholder="Editar nickname">
                    </div>
                    <div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Lojistas</mat-label>
                        <input type="text"
                               matInput
                               formControlName="editLojista"
                               [matAutocomplete]="autoEditLojista">
                        <mat-autocomplete #autoEditLojista="matAutocomplete">
                          <mat-option *ngFor="let option of filteredEditLojistas | async" [value]="option.lojista">
                            {{option.lojista | uppercase}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>

                    <div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Vendedores</mat-label>
                        <input type="text"
                               matInput
                               formControlName="editVendedor"
                               [matAutocomplete]="autoEditVendedor">
                        <mat-autocomplete #autoEditVendedor="matAutocomplete">
                          <mat-option *ngFor="let option of filteredEditVendedores | async" [value]="option.name">
                            {{option.name | titlecase}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </form>
                </div>

                <div class="pointer">
                  <div>
                    <span class="span-edit">Deletar informações: </span>
                  </div>
                  <div>
                    <mat-icon (click)="deleteNickname(nick.nickname)" matSuffix>delete</mat-icon>
                  </div>
                </div>
              </div>

              <div class="div-left">
                <div (click)="editarNickname(nick.nickname)" [className]="validateEditForm()">Editar</div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div *ngIf="filteredVendedorList.length !== 0">
        <div class="div-all" *ngFor="let nick of filteredVendedorList">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ nick.nickname | uppercase }} | {{ nick?.lojista | titlecase }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ nick.customerBy | titlecase }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="div-between">
                <div class="column">
                  <form [formGroup]="formEdit">
                    <span class="span-edit">Atualizar informações: </span>
                    <div>
                      <input (click)="findAllLojistasEdit()" class="input-style margin-last" formControlName="editNickname" placeholder="Editar nickname">
                    </div>
                    <div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Lojistas</mat-label>
                        <input type="text"
                               matInput
                               formControlName="editLojista"
                               [matAutocomplete]="autoEditLojista">
                        <mat-autocomplete #autoEditLojista="matAutocomplete">
                          <mat-option *ngFor="let option of filteredEditLojistas | async" [value]="option.lojista">
                            {{option.lojista | uppercase}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>

                    <div>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Vendedores</mat-label>
                        <input type="text"
                               matInput
                               formControlName="editVendedor"
                               [matAutocomplete]="autoEditVendedor">
                        <mat-autocomplete #autoEditVendedor="matAutocomplete">
                          <mat-option *ngFor="let option of filteredEditVendedores | async" [value]="option.name">
                            {{option.name | titlecase}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </form>
                </div>

                <div class="pointer">
                  <div>
                    <span class="span-edit">Deletar informações: </span>
                  </div>
                  <div>
                    <mat-icon (click)="deleteNickname(nick.nickname)" matSuffix>delete</mat-icon>
                  </div>
                </div>
              </div>

              <div class="div-left">
                <div (click)="editarNickname(nick.nickname)" [className]="validateEditForm()">Editar</div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</form>
