<form [formGroup]="form">
  <div class="background-home">
    <app-header (success)="successReceiver($event)"></app-header>
    <div class="div-center">
        <img class="img-style"
             src='../../assets/img/logo-topicalimport.png'
             alt="logo-tropical"
             loading="lazy">
      </div>

      <div class="div-center-input">
          <mat-form-field appearance="outline">
            <mat-label>Nome do produto</mat-label>
            <input matInput formControlName="name" placeholder="Digite o nome do produto...">
            <mat-icon matSuffix>category</mat-icon>
          </mat-form-field>

        <div class="div-separator"></div>
        <div class="div-money">
          <span class="span-cifrao">R$</span>
        </div>

          <mat-form-field appearance="outline">
            <mat-label>Preço do produto</mat-label>
            <input matInput maxlength="9" formControlName="price" placeholder="Digite o PMS do produto...">
            <mat-icon matSuffix>monetization_on</mat-icon>
          </mat-form-field>

      </div>
    <div>
      <button [disabled]="!form.valid" (click)="buscarProduto()" mat-raised-button>Buscar</button>
    </div>


    <div *ngIf="loading" class="div-loading">
      <span class="span-success">Aguarde, em instantes o relatório será enviado...</span>
    </div>

    <div *ngIf="success" class="div-success">
      <div>
        <span class="span-white">Relatório enviado com sucesso!</span>
      </div>
      <div class="div-pointer" (click)="closeSuccess()">
        <span class="span-white span-font">X</span>
      </div>
    </div>

    <div *ngIf="error" class="div-error width">
      <div>
        <span class="span-white">Ocorreu um erro, tente novamente em instantes.</span>
      </div>
      <div class="div-pointer" (click)="closeError()">
        <span class="span-white span-font">X</span>
      </div>
    </div>

  </div>
</form>
